<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
   	id="convertor" 
   	name="Convertor Extension Point" 
   	schema="schema/convertor.exsd"/>
   <extension-point 
   	id="example" 
   	name="Convertor Extension Point" 
   	schema="schema/example.exsd"/>
   <extension-point 
   	id="generator" 
   	name="Generator Extension Point" 
   	schema="schema/generator.exsd"/>
   <extension point="org.eclipse.ui.actionSets">
      <actionSet label="Actions"
            visible="true"
            id="action.actionSet">
         <menu id="menu1" label="Developer">
            <separator name="group1"/>
         </menu>
         <menu id="menu2" label="User">
            <separator name="group2"/>
         </menu>
         <action
               class="action.CreateExamplesAction"
               icon="icons/example.gif"
               id="action1"
               label="Examples"
               menubarPath="menu1/group"
               toolbarPath="group"
               tooltip="Create the Examples project">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page name="OpenOME"
            category="primary"
            class="ui.PrefPage"
            id="preference">
      </page>
   </extension>
   <extension point="org.eclipse.help.toc">
      <toc file="help.xml"/>
      <toc file="helpToc.xml" primary="true"/>
   </extension>
   <extension
         id="openome"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Core">
         <property
               name="aboutText"
               value="OpenOME, an open-source requirements engineering tool"/>
         <property
               name="aboutImage"
               value="icons/eclipse_lg.gif"/>
      </product>
   </extension>
</plugin>
