<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ac.uk/open/EventCalculus" 
       class = "uk.ac.open.event.eventcalculus.EventcalculusPackage"
       genModel = "uk/ac/open/event/EventCalculus.genmodel" /> 
	
  </extension>

  <extension point="core.example">
      <example file="sit1.e"/>
      <example file="sit2.e"/>
      <example file="sit3.e"/>
      <example file="sit4.e"/>
      <example file="COPYRIGHT"/>
      <example file="decreasoner.py"/>
      <example file="decreasoner.pyc"/>
      <example file="lex.py"/>
      <example file="lex.pyc"/>
      <example file="parsetab.py"/>
      <example file="parsetab.pyc"/>
      <example file="yacc.py"/>
      <example file="yacc.pyc"/>
      <example file="examples/list"/>
      <example file="examples/log"/>
      <example file="binary/macosx/decreasoner"/>
      <example file="binary/macosx/solvers/relsat"/>
      <example file="binary/macosx/solvers/walksat"/>
      <example file="binary/linux.x86/decreasoner"/>
      <example file="binary/linux.x86/solvers/relsat"/>
      <example file="binary/linux.x86/solvers/walksat"/>
      <example file="binary/linux.x86_64/decreasoner"/>
      <example file="binary/linux.x86_64/solvers/relsat"/>
      <example file="binary/linux.x86_64/solvers/walksat"/>
      <example file="binary/win32/decreasoner"/>
      <example file="binary/win32/solvers/relsat"/>
      <example file="binary/win32/solvers/walksat"/>
      <example file="examples/AkmanEtAl2004/ZooTest1.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest1.txt"/>
      <example file="examples/AkmanEtAl2004/ZooTest2.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest2.txt"/>
      <example file="examples/AkmanEtAl2004/ZooTest3.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest3.txt"/>
      <example file="examples/AkmanEtAl2004/ZooTest4.1.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest4.1.txt"/>
      <example file="examples/AkmanEtAl2004/ZooTest4.2.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest4.2.txt"/>
      <example file="examples/AkmanEtAl2004/ZooTest5.1.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest5.1.txt"/>
      <example file="examples/AkmanEtAl2004/ZooTest5.2.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest5.2.txt"/>
      <example file="examples/AkmanEtAl2004/ZooTest6.e"/>
      <example file="examples/AkmanEtAl2004/ZooTest6.txt"/>
      <example file="examples/AkmanEtAl2004/ZooWorld.e"/>
      <example file="examples/Antoniou1997/Dropout.e"/>
      <example file="examples/Antoniou1997/Dropout.txt"/>
      <example file="examples/Antoniou1997/Student.e"/>
      <example file="examples/Antoniou1997/Student.txt"/>
      <example file="examples/BrewkaDixKonolige1997/Wine.e"/>
      <example file="examples/BrewkaDixKonolige1997/Wine.txt"/>
      <example file="examples/Cassimatis2002/OneScreen.e"/>
      <example file="examples/Cassimatis2002/OneScreen.txt"/>
      <example file="examples/Cassimatis2002/PolySpace.e"/>
      <example file="examples/Cassimatis2002/TwoScreens.e"/>
      <example file="examples/Cassimatis2002/TwoScreens.txt"/>
      <example file="examples/FrankEtAl2003/FrankEtAl.e"/>
      <example file="examples/FrankEtAl2003/Story1.e"/>
      <example file="examples/FrankEtAl2003/Story1.txt"/>
      <example file="examples/GiunchigliaEtAl2004/MonkeyBananas.e"/>
      <example file="examples/GiunchigliaEtAl2004/MonkeyPlanning.e"/>
      <example file="examples/GiunchigliaEtAl2004/MonkeyPlanning.txt"/>
      <example file="examples/GiunchigliaEtAl2004/MonkeyPostdiction.e"/>
      <example file="examples/GiunchigliaEtAl2004/MonkeyPostdiction.txt"/>
      <example file="examples/GiunchigliaEtAl2004/MonkeyPrediction.e"/>
      <example file="examples/GiunchigliaEtAl2004/MonkeyPrediction.txt"/>
      <example file="examples/Manual/Example1.e"/>
      <example file="examples/Manual/Example1.txt"/>
      <example file="examples/Manual/Example1a.e"/>
      <example file="examples/Manual/Example1a.txt"/>
      <example file="examples/Manual/Example2.e"/>
      <example file="examples/Manual/Example2.txt"/>
      <example file="examples/Manual/Example3.e"/>
      <example file="examples/Manual/Example3.txt"/>
      <example file="examples/Manual/Example4.e"/>
      <example file="examples/Manual/Example4.txt"/>
      <example file="examples/MillerShanahan2002/Bowl.e"/>
      <example file="examples/MillerShanahan2002/Bowl.txt"/>
      <example file="examples/Mueller2004a/Holding.e"/>
      <example file="examples/Mueller2004a/Holding.txt"/>
      <example file="examples/Mueller2004a/Leaf.e"/>
      <example file="examples/Mueller2004a/Leaf.txt"/>
      <example file="examples/Mueller2004b/Approve.e"/>
      <example file="examples/Mueller2004b/Approve.txt"/>
      <example file="examples/Mueller2004b/Leaf.e"/>
      <example file="examples/Mueller2004b/Leaf.txt"/>
      <example file="examples/Mueller2004b/OffOn.e"/>
      <example file="examples/Mueller2004b/OffOn.txt"/>
      <example file="examples/Mueller2004b/PickUp.e"/>
      <example file="examples/Mueller2004b/PickUp.txt"/>
      <example file="examples/Mueller2004b/RouletteWheel.e"/>
      <example file="examples/Mueller2004b/RouletteWheel.txt"/>
      <example file="examples/Mueller2004b/RunningAndDriving1.e"/>
      <example file="examples/Mueller2004b/RunningAndDriving1.txt"/>
      <example file="examples/Mueller2004b/RunningAndDriving2.e"/>
      <example file="examples/Mueller2004b/RunningAndDriving2.txt"/>
      <example file="examples/Mueller2004b/TV1.e"/>
      <example file="examples/Mueller2004b/TV1.txt"/>
      <example file="examples/Mueller2004b/TV2.e"/>
      <example file="examples/Mueller2004b/TV2.txt"/>
      <example file="examples/Mueller2006/Chapter10/MovingNewspaperAndBox.e"/>
      <example file="examples/Mueller2006/Chapter10/MovingNewspaperAndBox.txt"/>
      <example file="examples/Mueller2006/Chapter10/OneScreen.e"/>
      <example file="examples/Mueller2006/Chapter10/OneScreen.txt"/>
      <example file="examples/Mueller2006/Chapter10/TwoScreens.e"/>
      <example file="examples/Mueller2006/Chapter10/TwoScreens.txt"/>
      <example file="examples/Mueller2006/Chapter11/HungryCat.e"/>
      <example file="examples/Mueller2006/Chapter11/HungryCat.txt"/>
      <example file="examples/Mueller2006/Chapter11/Lottery.e"/>
      <example file="examples/Mueller2006/Chapter11/Lottery.txt"/>
      <example file="examples/Mueller2006/Chapter12/BrokenDevice.e"/>
      <example file="examples/Mueller2006/Chapter12/BrokenDevice.txt"/>
      <example file="examples/Mueller2006/Chapter12/DefaultEvent.e"/>
      <example file="examples/Mueller2006/Chapter12/DefaultEvent.txt"/>
      <example file="examples/Mueller2006/Chapter12/DefaultLocation.e"/>
      <example file="examples/Mueller2006/Chapter12/DefaultLocation.txt"/>
      <example file="examples/Mueller2006/Chapter12/Device.e"/>
      <example file="examples/Mueller2006/Chapter12/Device.txt"/>
      <example file="examples/Mueller2006/Chapter12/ErraticDevice.e"/>
      <example file="examples/Mueller2006/Chapter12/ErraticDevice.txt"/>
      <example file="examples/Mueller2006/Chapter12/MethodB.e"/>
      <example file="examples/Mueller2006/Chapter12/MethodB.txt"/>
      <example file="examples/Mueller2006/Chapter12/MethodD.e"/>
      <example file="examples/Mueller2006/Chapter12/MethodD.txt"/>
      <example file="examples/Mueller2006/Chapter13/Abduction.e"/>
      <example file="examples/Mueller2006/Chapter13/Abduction.txt"/>
      <example file="examples/Mueller2006/Chapter13/Deduction1.e"/>
      <example file="examples/Mueller2006/Chapter13/Deduction1.txt"/>
      <example file="examples/Mueller2006/Chapter13/Deduction2.e"/>
      <example file="examples/Mueller2006/Chapter13/Deduction2.txt"/>
      <example file="examples/Mueller2006/Chapter13/ModelFinding.e"/>
      <example file="examples/Mueller2006/Chapter13/ModelFinding.txt"/>
      <example file="examples/Mueller2006/Chapter13/Postdiction.e"/>
      <example file="examples/Mueller2006/Chapter13/Postdiction.txt"/>
      <example file="examples/Mueller2006/Chapter14/NetBill1.e"/>
      <example file="examples/Mueller2006/Chapter14/NetBill1.txt"/>
      <example file="examples/Mueller2006/Chapter14/NetBill2.e"/>
      <example file="examples/Mueller2006/Chapter14/NetBill2.txt"/>
      <example file="examples/Mueller2006/Chapter14/NetBill3.e"/>
      <example file="examples/Mueller2006/Chapter14/NetBill3.txt"/>
      <example file="examples/Mueller2006/Chapter14/Vision.e"/>
      <example file="examples/Mueller2006/Chapter14/Vision.txt"/>
      <example file="examples/Mueller2006/Chapter14/Workflow.e"/>
      <example file="examples/Mueller2006/Chapter14/Workflow.txt"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency1.e"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency1.txt"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency2.e"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency2.txt"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency3.e"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency3.txt"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency4.e"/>
      <example file="examples/Mueller2006/Chapter2/Inconsistency4.txt"/>
      <example file="examples/Mueller2006/Chapter2/Sleep1.e"/>
      <example file="examples/Mueller2006/Chapter2/Sleep1.txt"/>
      <example file="examples/Mueller2006/Chapter2/Sleep2.e"/>
      <example file="examples/Mueller2006/Chapter2/Sleep2.txt"/>
      <example file="examples/Mueller2006/Chapter2/Sleep3.e"/>
      <example file="examples/Mueller2006/Chapter2/Sleep3.txt"/>
      <example file="examples/Mueller2006/Chapter2/Sleep4.e"/>
      <example file="examples/Mueller2006/Chapter2/Sleep4.txt"/>
      <example file="examples/Mueller2006/Chapter3/Telephone1.e"/>
      <example file="examples/Mueller2006/Chapter3/Telephone1.txt"/>
      <example file="examples/Mueller2006/Chapter3/Telephone2.e"/>
      <example file="examples/Mueller2006/Chapter3/Telephone2.txt"/>
      <example file="examples/Mueller2006/Chapter4/AlarmClock.e"/>
      <example file="examples/Mueller2006/Chapter4/AlarmClock.txt"/>
      <example file="examples/Mueller2006/Chapter4/BankAccountServiceFee.e"/>
      <example file="examples/Mueller2006/Chapter4/BankAccountServiceFee.txt"/>
      <example file="examples/Mueller2006/Chapter6/CarryingABook1.e"/>
      <example file="examples/Mueller2006/Chapter6/CarryingABook1.txt"/>
      <example file="examples/Mueller2006/Chapter6/CarryingABook2.e"/>
      <example file="examples/Mueller2006/Chapter6/CarryingABook2.txt"/>
      <example file="examples/Mueller2006/Chapter6/ShanahanCircuit.e"/>
      <example file="examples/Mueller2006/Chapter6/ShanahanCircuit.txt"/>
      <example file="examples/Mueller2006/Chapter6/ThielscherCircuit1.e"/>
      <example file="examples/Mueller2006/Chapter6/ThielscherCircuit1.txt"/>
      <example file="examples/Mueller2006/Chapter6/ThielscherCircuit2.e"/>
      <example file="examples/Mueller2006/Chapter6/ThielscherCircuit2.txt"/>
      <example file="examples/Mueller2006/Chapter7/FallingObjectWithAntiTrajectory.e"/>
      <example file="examples/Mueller2006/Chapter7/FallingObjectWithAntiTrajectory.txt"/>
      <example file="examples/Mueller2006/Chapter7/FallingObjectWithEvents.e"/>
      <example file="examples/Mueller2006/Chapter7/FallingObjectWithEvents.txt"/>
      <example file="examples/Mueller2006/Chapter7/HotAirBalloon.e"/>
      <example file="examples/Mueller2006/Chapter7/HotAirBalloon.txt"/>
      <example file="examples/Mueller2006/Chapter8/CameraWithFlash.e"/>
      <example file="examples/Mueller2006/Chapter8/CameraWithFlash.txt"/>
      <example file="examples/Mueller2006/Chapter8/MovingRobot.e"/>
      <example file="examples/Mueller2006/Chapter8/MovingRobot.txt"/>
      <example file="examples/Mueller2006/Chapter8/PatHeadRubStomach.e"/>
      <example file="examples/Mueller2006/Chapter8/PatHeadRubStomach.txt"/>
      <example file="examples/Mueller2006/Chapter9/RouletteWheel.e"/>
      <example file="examples/Mueller2006/Chapter9/RouletteWheel.txt"/>
      <example file="examples/Mueller2006/Chapter9/RunningAndDriving.e"/>
      <example file="examples/Mueller2006/Chapter9/RunningAndDriving.txt"/>
      <example file="examples/Mueller2006/Exercises/Counter.e"/>
      <example file="examples/Mueller2006/Exercises/Counter.txt"/>
      <example file="examples/Mueller2006/Exercises/MixingPaints.e"/>
      <example file="examples/Mueller2006/Exercises/MixingPaints.txt"/>
      <example file="examples/Mueller2006/Exercises/SnoozeAlarm.e"/>
      <example file="examples/Mueller2006/Exercises/SnoozeAlarm.txt"/>
      <example file="examples/Mueller2006/Exercises/TeacherTells.e"/>
      <example file="examples/Mueller2006/Exercises/TeacherTells.txt"/>
      <example file="examples/Mueller2006/Exercises/TelephoneBugs.e"/>
      <example file="examples/Mueller2006/Exercises/TelephoneBugs.txt"/>
      <example file="examples/ReiterCriscuolo1981/NixonDiamond1.e"/>
      <example file="examples/ReiterCriscuolo1981/NixonDiamond1.txt"/>
      <example file="examples/ReiterCriscuolo1981/NixonDiamond2.e"/>
      <example file="examples/ReiterCriscuolo1981/NixonDiamond2.txt"/>
      <example file="examples/Shanahan1997/BusRide.e"/>
      <example file="examples/Shanahan1997/BusRide.txt"/>
      <example file="examples/Shanahan1997/DeadOrAlive.e"/>
      <example file="examples/Shanahan1997/DeadOrAlive.txt"/>
      <example file="examples/Shanahan1997/StolenCar.e"/>
      <example file="examples/Shanahan1997/StolenCar.txt"/>
      <example file="examples/Shanahan1997/StuffyRoom.e"/>
      <example file="examples/Shanahan1997/StuffyRoom.txt"/>
      <example file="examples/Shanahan1997/Supermarket.e"/>
      <example file="examples/Shanahan1997/Supermarket.txt"/>
      <example file="examples/Shanahan1997/Yale.e"/>
      <example file="examples/Shanahan1997/Yale.txt"/>
      <example file="examples/Shanahan1999/ChessBoard.e"/>
      <example file="examples/Shanahan1999/ChessBoard.txt"/>
      <example file="examples/Shanahan1999/CoinToss.e"/>
      <example file="examples/Shanahan1999/CoinToss.txt"/>
      <example file="examples/Shanahan1999/Happy.e"/>
      <example file="examples/Shanahan1999/Happy.txt"/>
      <example file="examples/Shanahan1999/RussianTurkey.e"/>
      <example file="examples/Shanahan1999/RussianTurkey.txt"/>
      <example file="examples/Shanahan1999/ThielscherCircuit.e"/>
      <example file="examples/Shanahan1999/ThielscherCircuit.txt"/>
      <example file="foundations/DEC.e"/>
      <example file="foundations/ECCausal.e"/>
      <example file="foundations/EC.e"/>
      <example file="foundations/ECTraj.e"/>
      <example file="foundations/Root.e"/>
  </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.e"
            id="contribution1">
         <menu
               label="Invoke decreasoner"
               path="additions"
               id="menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="action.Decreasoner"
               icon="icons/decreasoner.gif"
               id="DecreasonerAction"
               label="Event Calculus"
               menubarPath="menu1/group1"
               tooltip="Event Calculus Reasoner">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="core.convertor">
  		<convertor id="EC to Txt" class="convertor.EventCalculusRun"
            input="e" output="txt"/>
   </extension>

</plugin>
