<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="uk.ac.open.event.eventcalculus.presentation.EventcalculusModelWizardID"
            name="%_UI_EventcalculusModelWizard_label"
            class="uk.ac.open.event.eventcalculus.presentation.EventcalculusModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EventcalculusModelFile.gif">
         <description>%_UI_EventcalculusModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="uk.ac.open.event.eventcalculus.presentation.EventcalculusEditorID"
            name="%_UI_EventcalculusEditor_label"
            icon="icons/full/obj16/EventcalculusModelFile.gif"
            extensions="eventcalculus"
            class="uk.ac.open.event.eventcalculus.presentation.EventcalculusEditor"
            contributorClass="uk.ac.open.event.eventcalculus.presentation.EventcalculusActionBarContributor">
      </editor>
   </extension>

</plugin>
