runtime-*
*.class
workspace/*/bin
workspace/*/build.xml
workspace/*/@dot
workspace/*/@dot.log
workspace/*/\@dot
workspace/*/\@dot.log
workspace/*/javaCompiler...args
workspace/*/*.jar
workspace/*/*.zip
*.log
00*
