junit-workspace
runtime-*
*.class
workspace/*/bin
workspace/*/build.xml
workspace/*/@dot
workspace/*/@dot.log
workspace/*/\@dot
workspace/*/\@dot.log
workspace/*/javaCompiler...args
workspace/*/*.jar
workspace/*/*.zip
workspace/.JETEmitters
workspace/*/.settings
workspace/*/feature.temp.folder
workspace/*/screenshots
test/configuration
test/workspace
test/p2
*.log
00*
