<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="uk.ac.open.problem.diagram.edit.part.ProblemDiagramEditPartProviderOverride">
         <Priority
               name="Low">
         </Priority>
      </editpartProvider>
   </extension>
</plugin>
