<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="eu.securechange.secmer.casetool.sistar.generatedContribution"
         point="org.eclipse.viatra2.compiled.emf.patternmatcher.builder">
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordecomposeDirect"
            pattern-fqn="secmer.ontology.decomposeDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorWantsGoal"
            pattern-fqn="secmer.ontology.actorWantsGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForcanDelegationDirect"
            pattern-fqn="secmer.sistar.wrap.canDelegationDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorMappingTropos"
            pattern-fqn="secmer.sistar.transform.actorMappingTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForactorWantsGoalDirect"
            pattern-fqn="secmer.sistar.wrap.actorWantsGoalDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactor"
            pattern-fqn="secmer.ontology.actor">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFordoDelegationDirect"
            pattern-fqn="secmer.sistar.wrap.doDelegationDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForasset"
            pattern-fqn="secmer.ontology.asset">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorMappingToTropos"
            pattern-fqn="secmer.sistar.transform.actorMappingToTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorDelFromTropos"
            pattern-fqn="secmer.sistar.transform.actorDelFromTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFordependency"
            pattern-fqn="secmer.sistar.wrap.dependency">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderFortroposReferenceModel"
            pattern-fqn="secmer.sistar.transform.troposReferenceModel">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForgoalReplica"
            pattern-fqn="secmer.sistar.wrap.goalReplica">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFortroposRelation"
            pattern-fqn="secmer.sistar.wrap.troposRelation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForgoal"
            pattern-fqn="secmer.ontology.goal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForcanDelegationDirect"
            pattern-fqn="secmer.ontology.canDelegationDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorNameToTropos"
            pattern-fqn="secmer.sistar.transform.actorNameToTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForobjectName"
            pattern-fqn="secmer.sistar.wrap.objectName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFortrustDirect"
            pattern-fqn="secmer.sistar.wrap.trustDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorWantsGoalDirect"
            pattern-fqn="secmer.ontology.actorWantsGoalDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForgoal"
            pattern-fqn="secmer.sistar.wrap.goal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFordecomposeDirectAND"
            pattern-fqn="secmer.sistar.wrap.decomposeDirectAND">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForcarryOut"
            pattern-fqn="secmer.sistar.wrap.carryOut">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForcarryOutDirect"
            pattern-fqn="secmer.sistar.wrap.carryOutDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForAction"
            pattern-fqn="secmer.ontology.Action">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForgoalName"
            pattern-fqn="secmer.sistar.wrap.goalName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForactor"
            pattern-fqn="secmer.sistar.wrap.actor">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForlinkName"
            pattern-fqn="secmer.core.linkName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorDelToTropos"
            pattern-fqn="secmer.sistar.transform.actorDelToTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordoDelegation"
            pattern-fqn="secmer.ontology.doDelegation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFordecomposeDirect"
            pattern-fqn="secmer.sistar.wrap.decomposeDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForfulfill"
            pattern-fqn="secmer.ontology.fulfill">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForantiGoal"
            pattern-fqn="secmer.ontology.antiGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorNewToTropos"
            pattern-fqn="secmer.sistar.transform.actorNewToTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForsituationModel"
            pattern-fqn="secmer.ontology.situationModel">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForintegritySecurityGoal"
            pattern-fqn="secmer.ontology.integritySecurityGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderFormodelMappingTropos"
            pattern-fqn="secmer.sistar.transform.modelMappingTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorNameFromTropos"
            pattern-fqn="secmer.sistar.transform.actorNameFromTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForcanDelegation"
            pattern-fqn="secmer.ontology.canDelegation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordoDelegationDirect"
            pattern-fqn="secmer.ontology.doDelegationDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorProvidesResource"
            pattern-fqn="secmer.ontology.actorProvidesResource">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFortrust"
            pattern-fqn="secmer.ontology.trust">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForconfidentialitySecurityGoal"
            pattern-fqn="secmer.ontology.confidentialitySecurityGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorName"
            pattern-fqn="secmer.ontology.actorName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorNewFromTropos"
            pattern-fqn="secmer.sistar.transform.actorNewFromTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForcarryOutDirect"
            pattern-fqn="secmer.ontology.carryOutDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFordecomposeDirectWithType"
            pattern-fqn="secmer.sistar.wrap.decomposeDirectWithType">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForreferenceModel"
            pattern-fqn="secmer.core.referenceModel">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForcanDelegation"
            pattern-fqn="secmer.sistar.wrap.canDelegation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFordoDelegation"
            pattern-fqn="secmer.sistar.wrap.doDelegation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorMappingFromTropos"
            pattern-fqn="secmer.sistar.transform.actorMappingFromTropos">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordecomposeDirectWithType"
            pattern-fqn="secmer.ontology.decomposeDirectWithType">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForactorActsToFulfillGoal"
            pattern-fqn="secmer.sistar.wrap.actorActsToFulfillGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForsecurityGoal"
            pattern-fqn="secmer.ontology.securityGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForactorProvidesResource"
            pattern-fqn="secmer.sistar.wrap.actorProvidesResource">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFortrust"
            pattern-fqn="secmer.sistar.wrap.trust">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForsignatureAction"
            pattern-fqn="secmer.ontology.signatureAction">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForintegrationModel"
            pattern-fqn="secmer.core.integrationModel">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordependency"
            pattern-fqn="secmer.ontology.dependency">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForactorName"
            pattern-fqn="secmer.sistar.wrap.actorName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForcarryOut"
            pattern-fqn="secmer.ontology.carryOut">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFordecomposeDirectOR"
            pattern-fqn="secmer.sistar.wrap.decomposeDirectOR">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorMappingToTroposWithName"
            pattern-fqn="secmer.sistar.transform.actorMappingToTroposWithName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForactorWantsGoal"
            pattern-fqn="secmer.sistar.wrap.actorWantsGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForAction"
            pattern-fqn="secmer.sistar.wrap.Action">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactivity"
            pattern-fqn="secmer.ontology.activity">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderFormodel"
            pattern-fqn="secmer.sistar.wrap.model">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForencryptionAction"
            pattern-fqn="secmer.ontology.encryptionAction">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForhasLink"
            pattern-fqn="secmer.core.hasLink">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.wrap.PatternBuilderForfulfill"
            pattern-fqn="secmer.sistar.wrap.fulfill">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.sistar.transform.PatternBuilderForactorMappingFromTroposWithName"
            pattern-fqn="secmer.sistar.transform.actorMappingFromTroposWithName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFortrustDirect"
            pattern-fqn="secmer.ontology.trustDirect">
      </pattern-builder>
   </extension>

</plugin>
