<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.ac.uk/open/argument/Argument" 
       class = "uk.ac.open.argument.argument.ArgumentPackage"
       genModel = "uk/ac/open/argument/Argument.genmodel" /> 
	
  </extension>





</plugin>
