<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="evolution.presentation.EvolutionModelWizardID"
            name="%_UI_EvolutionModelWizard_label"
            class="evolution.presentation.EvolutionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EvolutionModelFile.gif">
         <description>%_UI_EvolutionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="evolution.presentation.EvolutionEditorID"
            name="%_UI_EvolutionEditor_label"
            icon="icons/full/obj16/EvolutionModelFile.gif"
            extensions="evolution"
            class="evolution.presentation.EvolutionEditor"
            contributorClass="evolution.presentation.EvolutionActionBarContributor">
      </editor>
   </extension>

</plugin>
