<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.securechange.secmer.casetool.evolutionrule">
      <evolution-rule
            rule-class="eu.securechange.secmer.casetool.sistar.synch.rules.actor.ActorNewToTropos">
      </evolution-rule>
      <evolution-rule
            rule-class="eu.securechange.secmer.casetool.sistar.synch.rules.actor.ActorNewFromTropos">
      </evolution-rule>
      <evolution-rule
            rule-class="eu.securechange.secmer.casetool.sistar.synch.rules.actor.ActorDelFromTropos">
      </evolution-rule>
      <evolution-rule
            rule-class="eu.securechange.secmer.casetool.sistar.synch.rules.actor.ActorDelToTropos">
      </evolution-rule>
      <evolution-rule
            rule-class="eu.securechange.secmer.casetool.sistar.synch.rules.actor.ActorNameToTropos">
      </evolution-rule>
      <evolution-rule
            rule-class="eu.securechange.secmer.casetool.sistar.synch.rules.actor.ActorNameFromTropos">
      </evolution-rule>
   </extension>

</plugin>
