<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1.1.1 2007/06/28 21:18:16 swferry Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.troposproject.org" 
       class = "it.unitn.disi.sistar.modeling.tropos.TroposPackage"
       genModel = "model/tropos.genmodel" />
    <package
          class="it.unitn.disi.sistar.modeling.styles.customStyle.CustomStylePackage"
          genModel="model/style.genmodel"
          uri="http://www.custom-style.org">
    </package> 
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="it.unitn.disi.sistar.category"
           class="it.unitn.disi.sistar.file.wizard.scenario.ScenarioCreationWizard"
           finalPerspective="it.unitn.disi.sistar.perspectives.SistarPerspective"
           icon="icons/start.png"
           id="it.unitn.disi.sistar.file.wizard.scenario"
           name="Goal Scenario"
           preferredPerspectives="it.unitn.disi.sistar.perspectives.SistarPerspective"
           project="false"/>
     <wizard
           category="it.unitn.disi.sistar.category"
           class="it.unitn.disi.sistar.file.wizard.plan.PlanCreationWizard"
           finalPerspective="it.unitn.disi.sistar.perspectives.SistarPerspective"
           icon="icons/p-icon.png"
           id="it.unitn.disi.sistar.file.wizard.plan"
           name="Plan"
           preferredPerspectives="it.unitn.disi.sistar.perspectives.SistarPerspective"
           project="false"/>
     <wizard
           category="it.unitn.disi.sistar.category"
           class="it.unitn.disi.sistar.file.wizard.pattern.PatternWizard"
           finalPerspective="it.unitn.disi.sistar.perspectives.SistarPerspective"
           icon="icons/PatternIco.PNG"
           id="it.unint.disi.sistar.file.wizard.pattern"
           name="Pattern"
           preferredPerspectives="it.unitn.disi.sistar.perspectives.SistarPerspective"
           project="false"/>
     <wizard
           category="it.unitn.disi.sistar.category"
           class="it.unitn.disi.sistar.file.wizard.datalogproperties.DatalogPropertiesWizard"
           finalPerspective="it.unitn.disi.sistar.perspectives.SistarPerspective"
           icon="icons/datalog-small.gif"
           id="it.unitn.disi.sistar.file.wizard.datalogproperties.DatalogPropertiesWizard"
           name="Datalog Properties File"
           preferredPerspectives="it.unitn.disi.sistar.perspectives.SistarPerspective"
           project="false"/>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
         <objectContribution
            adaptable="false"
            id="it.unitn.disi.sistar.popup.actions.SistarSolverAction"
            nameFilter="*.sce"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="SistarMenu"
               label="Si-star">
            <separator name="goalAnalysis"/>
            <separator name="aspAnalysis"/>
         </menu>
         <action
               class="it.unitn.disi.sistar.popup.actions.RunGoalAnalysisAction"
               enablesFor="1"
               icon="icons/start.png"
               id="it.unitn.disi.sistar.popup.actions.RunGoalAnalysisAction"
               label="Run Goal Analysis"
               menubarPath="SistarMenu/goalAnalysis"/>
         <action
               class="it.unitn.disi.sistar.popup.actions.ShowGoalAnalysisAction"
               enablesFor="1"
               icon="icons/start.png"
               id="it.unitn.disi.sistar.popup.actions.ShowGoalAnalysisAction"
               label="Show Goal Analysis Result"
               menubarPath="SistarMenu/goalAnalysis"/>
         <action
               class="it.unitn.disi.sistar.popup.actions.HideGoalAnalysisAction"
               enablesFor="1"
               icon="icons/start.png"
               id="it.unitn.disi.sistar.popup.actions.HideGoalAnalysisAction"
               label="Hide Goal Analysis Result"
               menubarPath="SistarMenu/goalAnalysis"/>
         <action
               class="it.unitn.disi.sistar.popup.actions.ReloadScenarioAction"
               enablesFor="1"
               icon="icons/start.png"
               id="it.unitn.disi.sistar.popup.actions.ReloadScenarioAnalysisAction"
               label="Reload Scenario From Diagram"
               menubarPath="SistarMenu/goalAnalysis"/>
         <action
               class="it.unitn.disi.sistar.popup.actions.LinkScenarioAction"
               enablesFor="1"
               icon="icons/start.png"
               id="it.unitn.disi.sistar.popup.actions.LinkScenarioAction"
               label="Relink Scenario To Diagram"
               menubarPath="SistarMenu/goalAnalysis"/>
      </objectContribution>
         <objectContribution
               adaptable="false"
               id="it.unitn.disi.sistar.popup.actions.SistarASPAction"
               nameFilter="*.tpd"
               objectClass="org.eclipse.core.resources.IFile">
           <action
               class="it.unitn.disi.sistar.popup.actions.RunASPAnalysisAction"
               icon="icons/datalog-small.gif"
               id="it.unitn.disi.sistar.popup.actions.RunASPAnalysisAction"
               label="Run ASP Analysis"
               menubarPath="SistarMenu/aspAnalysis">
         </action>
          <action
               class="it.unitn.disi.sistar.popup.actions.ShowASPAnalysisAction"
               enablesFor="1"
               icon="icons/datalog-small.gif"
               id="it.unitn.disi.sistar.popup.actions.ShowASPAnalysisAction"
               label="Show ASP Analysis Result"
               menubarPath="SistarMenu/aspAnalysis"/>
          <menu
                id="SistarMenu"
                label="Si-star">
             <separator name="aspAnalysis"/>
          </menu>
          <action
                class="it.unitn.disi.sistar.popup.actions.HideASPAnalysisAction"
                enablesFor="1"
                icon="icons/datalog-small.gif"
                id="it.unitn.disi.sistar.popup.actions.HideASPAnalysisAction"
                label="Hide ASP Analysis Result"
                menubarPath="SistarMenu/aspAnalysis"/>
          <action
                class="it.unitn.disi.sistar.popup.actions.RefreshStylesAction"
                enablesFor="1"
                icon="icons/datalog-small.gif"
                id="it.unitn.disi.sistar.popup.actions.RefreshStylesAction"
                label="Refresh Styles"
                menubarPath="SistarMenu/aspAnalysis"/>
          <action
                class="it.unitn.disi.sistar.file.wizard.a5.A5RunClassWizard"
                icon="icons/A5icon.png"
                id="it.unitn.disi.sistar.file.wizard.a5.A5RunClassWizard"
                label="Generate Class Description file"
                menubarPath="SistarMenu/ToA5"/>
          <action
                class="it.unitn.disi.sistar.file.wizard.a5.A5RunWizard"
                icon="icons/A5icon.png"
                id="it.unitn.disi.sistar.file.wizard.a5.A5RunWizard"
                label="Generate Pattern description file"
                menubarPath="SistarMenu/ToA5"/>
          <action
                class="it.unitn.disi.sistar.popup.actions.ApplyPatternAction"
                icon="icons/PatternIco.PNG"
                id="it.unitn.disi.sistar.popup.actions.ApplyPatternAction"
                label="Apply Pattern"
                menubarPath="SistarMenu/pattern"/>
       </objectContribution>
         <objectContribution
            adaptable="false"
            id="it.unitn.disi.sistar.popup.actions.RunPlanAnalysisAction"
            nameFilter="*.pddl"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="SistarMenu"
               label="Si-star">
            <separator name="planAnalysis"/>
         </menu>
         <action
               class="it.unitn.disi.sistar.popup.actions.RunPlanAnalysisAction"
               icon="icons/p-icon.png"
               id="it.unitn.disi.sistar.popup.actions.RunPlanAnalysisAction"
               label="Run Plan Analysis"
               menubarPath="SistarMenu/planAnalysis"/>
<!--          <action
               class="it.unitn.disi.sistar.popup.actions.ProvideFeedbackAction"
               icon="icons/p-icon.png"
               id="it.unitn.disi.sistar.popup.actions.ProvideFeedback"
               label="Provide Feedback"
               menubarPath="SistarMenu/feedback"/> -->
      </objectContribution>
         <objectContribution
               adaptable="false"
               id="it.unitn.disi.sistar.modeling.ValidationMenu"
               nameFilter="*.xml"
               objectClass="org.eclipse.core.resources.IFile">
            <action
                  class="it.unitn.disi.sistar.file.wizard.a5.A5ClassValidationAction"
                  icon="icons/A5icon.png"
                  id="it.unitn.disi.sistar.file.wizard.a5.A5ClassValidationAction"
                  label="Validate Class file"
                  menubarPath="SistarMenu/validation"/>
            <menu
                  id="SistarMenu"
                  label="Si-star"/>
            <action
                  class="it.unitn.disi.sistar.file.wizard.a5.A5PatternValidationAction"
                  icon="icons/A5icon.png"
                  id="it.unitn.disi.sistar.file.wizard.a5.A5PatternValidationAction"
                  label="Validate Pattern File"
                  menubarPath="SistarMenu/validation"/>
         </objectContribution>
  </extension>
 <!-- <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="it.unitn.disi.sistar.modeling.diagram.actionSet"
            label="Tropos Filter Action Set"
            visible="true">
         
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="it.unitn.disi.sistar.modeling.diagram.actionSet">
         <part id="it.unitn.disi.sistar.modeling.tropos.diagram.part.TroposDiagramEditorID"/>
      </actionSetPartAssociation>
   </extension>-->
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="it.unitn.disi.sistar.modeling.filterEditorActions"
            targetID="it.unitn.disi.sistar.modeling.tropos.diagram.part.TroposDiagramEditorID">
            <menu
               id="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu"
               label="Diagram Filters">
            <separator name="filterGroup"/>
         </menu>
           <action
               class="it.unitn.disi.sistar.modeling.diagram.filters.AllModelFilter"
               icon="icons/filter-all.gif"
               id="it.unitn.disi.sistar.modeling.diagram.filters.AllModelFilter"
               label="&amp;Show All Model"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show All Model"/>
         <action
               class="it.unitn.disi.sistar.modeling.diagram.filters.TroposModelFilter"
               icon="icons/filter-tropos.gif"
               id="it.unitn.disi.sistar.modeling.diagram.filters.TroposModelFilter"
               label="&amp;Show Tropos Model"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show Tropos Model"/>
         <action
               class="it.unitn.disi.sistar.modeling.diagram.filters.ExecutionTrustModelFilter"
               icon="icons/filter-executiontrust.png"
               id="it.unitn.disi.sistar.modeling.diagram.filters.ExecutionTrustModelFilter"
               label="&amp;Show Execution Trust Model"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show Execution Trust Model"/>
       
         <action
               class="it.unitn.disi.sistar.modeling.diagram.filters.PermissionTrustModelFilter"
               icon="icons/filter-permissiontrust.png"
               id="it.unitn.disi.sistar.modeling.diagram.filters.PermissionTrustModelFilter"
               label="&amp;Show Permission Trust Model"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show Permission Trust Model"/>
            <action
               class="it.unitn.disi.sistar.modeling.diagram.filters.OrganizationalChartModelFilter"
               icon="icons/filter-organizationalchart.png"
               id="it.unitn.disi.sistar.modeling.diagram.filters.OrganizationalChartModelFilter"
               label="&amp;Show Organizational Chart Model"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show Organizational Chart Model"/>
        
           <action
               class="it.unitn.disi.sistar.modeling.diagram.filters.ExecutionDelegationModelFilter"
               icon="icons/filter-executiondelegation.gif"
               id="it.unitn.disi.sistar.modeling.diagram.filters.ExecutionDelegationModelFilter"
               label="&amp;Show Execution Delegation Model"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show Execution Delegation Model"/>
           <action
               class="it.unitn.disi.sistar.modeling.diagram.filters.PermissionDelegationModelFilter"
               icon="icons/filter-permissiondelegation.gif"
               id="it.unitn.disi.sistar.modeling.diagram.filters.PermissionDelegationModelFilter"
               label="&amp;Show Permission Delegation Model"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show Permission Delegation Model"/>
           <action
                 class="it.unitn.disi.sistar.modeling.diagram.filters.QuantitativeQualitativeFilter"
                 icon="icons/quantitative.gif"
                 id="it.unitn.disi.sistar.modeling.diagram.filters.QuantitativeQualitativeFilter"
                 label="Quantitative Qualitative Filter"
                 menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
                 style="toggle"
                 toolbarPath="filterGroup"
                 tooltip="Quantitative Qualitative Filter"/>
           <!--<action
               class="it.unitn.disi.sistar.modeling.diagram.filters.NoneModelFilter"
               icon="icons/filter-none.gif"
               id="it.unitn.disi.sistar.modeling.diagram.filters.NoneModelFilter"
               label="&amp;Show None"
               menubarPath="it.unitn.disi.sistar.modeling.diagram.filters.filterMenu/filterGroup"
               style="toggle"
               toolbarPath="filterGroup"
               tooltip="&amp;Show None"/>-->
     </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="it.unitn.disi.sistar"
            id="it.unitn.disi.sistar.modeling.ShowAdvancedProperties"
            name="Show Advanced Properties"/>
      <category
            id="it.unitn.disi.sistar"
            name="Si-star"/>
      <command
            category="it.unitn.disi.sistar"
            id="it.unitn.disi.sistar.modeling.ShowAdvancedDependencyProperties"
            name="Show Advanced Dependency Properties"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution 
            adaptable="false"
            id="it.unitn.disi.sistar.modeling.tropos.diagram.edit.parts.ServiceEditPart1"
            objectClass="it.unitn.disi.sistar.modeling.tropos.diagram.edit.parts.ServiceEditPart">
         <menu 
               id="it.unitn.disi.sistar.menu"
               label="Si-star"
               path="additions">
            <separator name="group1"/> 
         </menu> 
         <action
               class="it.unitn.disi.sistar.popup.actions.ShowAdvancedPropertiesAction"
               definitionId="it.unitn.disi.sistar.modeling.ShowAdvancedProperties"
               enablesFor="1"
               id="it.unitn.disi.sistar.modeling.action.ShowAdvancedProperties"
               label="Show Advanced Properties"
               />
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="it.unitn.disi.sistar.modeling.tropos.diagram.edit.parts.DependencyEditPart1"
            objectClass="it.unitn.disi.sistar.modeling.tropos.diagram.edit.parts.DependencyEditPart">
              <menu 
               id="it.unitn.disi.sistar.menu"
               label="Si-star"
               path="additions">
               <separator name="group1"/> 
         	  </menu>
         	  <action
               class="it.unitn.disi.sistar.popup.actions.ShowAdvancedDependencyPropertiesAction"
               definitionId="it.unitn.disi.sistar.modeling.ShowAdvancedDependencyProperties"
               enablesFor="1"
               id="it.unitn.disi.sistar.modeling.action.ShowAdvancedDependencyProperties"
               label="Show Advanced Properties"/>  
      </objectContribution>
   </extension>
</plugin>

