<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/example/mydsl/Arguments" 
       class = "org.xtext.example.mydsl.arguments.ArgumentsPackage"
       genModel = "org/xtext/example/mydsl/Arguments.genmodel" /> 
	
  </extension>

  <extension point="core.example">
      <example file="x.argument"/>
  </extension>




</plugin>
