<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://securechange.eu/situation" 
       class = "eu.securechange.situation.SituationPackage"
       genModel = "eu/securechange/Situation.genmodel" /> 
	
  </extension>

  <extension point="core.example">
      <example file="Situation.xtext"/>
      <example file="a.situation"/>
      <example file="D3.2.pdf"/>
  </extension>

</plugin>
