<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://open.ac.uk/problem" 
       class = "uk.ac.open.problem.ProblemPackage"
       genModel = "uk/ac/open/problem/Problem.genmodel" /> 
	
  </extension>
  <extension point="core.example">
      <example file="CommandedBehaviour.pf"/>
      <example file="CommandedBehaviour.png"/>
      <example file="InformationDisplay.pf"/>
      <example file="InformationDisplay.png"/>
      <example file="RequiredBehaviour.pf"/>
      <example file="RequiredBehaviour.png"/>
      <example file="Transformation.pf"/>
      <example file="Transformation.png"/>
      <example file="Workpiece.pf"/>
      <example file="Workpiece.png"/>
      <example file="LightController.pf"/>
      <example file="SluiceGateInteractive.pf"/>
      <example file="SluiceGateTimed.pf"/>
      <example file="zooturnstile1.pf"/>
      <example file="ads-b-pwd.pf"/>
      <example file="ads-b-pwd-attack.pf"/>
      <example file="library.pf"/>
      <example file="openpf.pf"/>
      <example file="pf.xpt"/>
      <example file="ProblemGenerator.mwe"/>
      <example file="SecuReqEngforEvolvingSys.pdf"/>
  </extension>
</plugin>
