<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://open.ac.uk/problem" 
       class = "uk.ac.open.problem.ProblemPackage"
       genModel = "uk/ac/open/problem/Problem.genmodel" /> 
	
  </extension>
  <extension point="core.example">
      <example file="CommandedBehaviour.problem"/>
      <example file="CommandedBehaviour.png"/>
      <example file="InformationDisplay.problem"/>
      <example file="InformationDisplay.png"/>
      <example file="RequiredBehaviour.problem"/>
      <example file="RequiredBehaviour.png"/>
      <example file="Transformation.problem"/>
      <example file="Transformation.png"/>
      <example file="Workpiece.problem"/>
      <example file="Workpiece.png"/>
      <example file="LightController.problem"/>
      <example file="SluiceGateInteractive.problem"/>
      <example file="SluiceGateTimed.problem"/>
      <example file="zooturnstile1.problem"/>
      <example file="ads-b-pwd.problem"/>
      <example file="ads-b-pwd-attack.problem"/>
      <example file="library.problem"/>
      <example file="openpf.problem"/>
      <example file="SecuReqEngforEvolvingSys.pdf"/>
  </extension>
</plugin>
