<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://open.ac.uk/problem" 
       class = "uk.ac.open.problem.ProblemPackage"
       genModel = "uk/ac/open/Problem.genmodel" /> 	
  </extension>
  <extension point="core.example">
      <example file="ads-b-pwd.pf"/>
      <example file="ads-b-pwd-attack.pf"/>
      <example file="library.pf"/>
      <example file="openpf.pf"/>
  </extension>
</plugin>
