<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="eu.securechange.secmer.casetool.security.patterns.generatedContribution"
         point="org.eclipse.viatra2.compiled.emf.patternmatcher.builder">
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFortrustDirect"
            pattern-fqn="secmer.ontology.trustDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordelegation"
            pattern-fqn="secmer.ontology.delegation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordecomposeDirectWithType"
            pattern-fqn="secmer.ontology.decomposeDirectWithType">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForconfidentialitySecurityGoal"
            pattern-fqn="secmer.ontology.confidentialitySecurityGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForencryptionAction"
            pattern-fqn="secmer.ontology.encryptionAction">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorWantsGoalDirect"
            pattern-fqn="secmer.ontology.actorWantsGoalDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForfulfill"
            pattern-fqn="secmer.ontology.fulfill">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForcarryOut"
            pattern-fqn="secmer.ontology.carryOut">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForlinkName"
            pattern-fqn="secmer.core.linkName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForsecurityGoal"
            pattern-fqn="secmer.ontology.securityGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordelegationDirect"
            pattern-fqn="secmer.ontology.delegationDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorName"
            pattern-fqn="secmer.ontology.actorName">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForsituationModel"
            pattern-fqn="secmer.ontology.situationModel">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFordecomposeDirect"
            pattern-fqn="secmer.ontology.decomposeDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForhasLink"
            pattern-fqn="secmer.core.hasLink">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForasset"
            pattern-fqn="secmer.ontology.asset">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForantiGoal"
            pattern-fqn="secmer.ontology.antiGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorWantsGoal"
            pattern-fqn="secmer.ontology.actorWantsGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForreferenceModel"
            pattern-fqn="secmer.core.referenceModel">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForAction"
            pattern-fqn="secmer.ontology.Action">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactor"
            pattern-fqn="secmer.ontology.actor">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForintegritySecurityGoal"
            pattern-fqn="secmer.ontology.integritySecurityGoal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForgoal"
            pattern-fqn="secmer.ontology.goal">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.security.PatternBuilderForuntrustedDelegation"
            pattern-fqn="secmer.security.untrustedDelegation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderFortrust"
            pattern-fqn="secmer.ontology.trust">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactorProvidesResource"
            pattern-fqn="secmer.ontology.actorProvidesResource">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.core.PatternBuilderForintegrationModel"
            pattern-fqn="secmer.core.integrationModel">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForcarryOutDirect"
            pattern-fqn="secmer.ontology.carryOutDirect">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForactivity"
            pattern-fqn="secmer.ontology.activity">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.secmer.ontology.PatternBuilderForsignatureAction"
            pattern-fqn="secmer.ontology.signatureAction">
      </pattern-builder>
   </extension>

</plugin>
