<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.ui.startup">
     <startup class="uk.ac.open.argument.ui.ArgumentStartup"/>
   </extension>
   
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:uk.ac.open.argument.ui.ArgumentEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="argument"
            id="uk.ac.open.argument.Argument"
            name="Argument Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="uk.ac.open.argument.Argument.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="uk.ac.open.argument.Argument.validate">
         <activeWhen>
            <reference
                    definitionId="uk.ac.open.argument.Argument.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="uk.ac.open.argument.Argument.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="uk.ac.open.argument.Argument" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="uk.ac.open.argument.Argument"
            name="Argument">
            <keywordReference id="uk.ac.open.argument.ui.keyword_Argument"/>
        </page>
        <page
            category="uk.ac.open.argument.Argument"
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="uk.ac.open.argument.Argument.coloring"
            name="Syntax Coloring">
            <keywordReference id="uk.ac.open.argument.ui.keyword_Argument"/>
        </page>
        <page
            category="uk.ac.open.argument.Argument"
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="uk.ac.open.argument.Argument.templates"
            name="Templates">
            <keywordReference id="uk.ac.open.argument.ui.keyword_Argument"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="uk.ac.open.argument.ui.keyword_Argument"
            label="Argument"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="uk.ac.open.argument.Argument.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="uk.ac.open.argument.Argument.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="uk.ac.open.argument.Argument.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="uk.ac.open.argument.Argument.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="uk.ac.open.argument.Argument.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="argument">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="argument">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="uk.ac.open.argument.Argument.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="uk.ac.open.argument.Argument.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="uk.ac.open.argument.ui.ArgumentExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

</plugin>
