<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="it.unitn.disi.sistar.perspectives.SistarPerspective"
         name="Sistar"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="it.unitn.disi.sistar.perspectives.SistarViewPerspectiveFactory"
            icon="icons/logo-Sistar-small.gif"
            id="it.unitn.disi.sistar.perspectives.SistarPerspective"
            name="Sistar"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="it.unitn.disi.sistar.category"
            class="it.unitn.disi.sistar.project.wizard.SistarNewProjectWizard"
            descriptionImage="icons/logo-Sistar-small.gif"
            finalPerspective="it.unitn.disi.sistar.perspectives.SistarPerspective"
            icon="icons/logo-Sistar-small.gif"
            id="it.unitn.disi.sistar.project.wizard.SistarNewProjectWizard"
            name="Sistar Project"
            preferredPerspectives="it.unitn.disi.sistar.perspectives.SistarPerspective"
            project="true"/>
      <category
            id="it.unitn.disi.sistar.category"
            name="Sistar"/>
   </extension>
   <extension 
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="it.unitn.disi.sistar.popup.actions.SistarDatalogAction"
            nameFilter="*.tpd"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="it.unitn.disi.sistar.popup.actions.menu1"
               label="Sistar"
               path="additions">
            <separator name="it.unitn.disi.sistar.popup.actions.group1"/>
         </menu>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="tpd"
            id="it.unitn.disi.sistar.diagram"
            name="Sistar Diagram"
            priority="normal"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="it.unitn.disi.sistar.importWizards.category"
            name="Sistar"/>
      <wizard
            category="it.unitn.disi.sistar.importWizards.category"
            class="it.unitn.disi.sistar.project.wizard.importWizards.STToolImportWizard"
            icon="icons/logo-Sistar-small.gif"
            id="it.unitn.disi.sistar.importWizards.STTool"
            name="ST Tool File"/>
      <!--<wizard
            category="it.unitn.disi.sistar.importWizards.category"
            class="it.unitn.disi.sistar.importWizards.ASPOptionImportWizard"
            icon="icons/logo-Sistar-small.gif"
            id="it.unitn.disi.sistar.importWizards.ASPOption"
            name="ASP Option"/>-->
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="it.unitn.disi.sistar.editors.DatalogInputEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="tpd"
            icon="icons/datalog-small.gif"
            id="it.unitn.disi.sistar.editors.DatalogInputEditor"
            name="ASP Input Editor"/>
      <editor
            class="it.unitn.disi.sistar.editors.options.DatalogOptionEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="dl"
            icon="icons/datalog-small.gif"
            id="it.unitn.disi.sistar.editors.options.DatalogOptionEditor"
            name="ASP Option Editor">
         <contentTypeBinding contentTypeId="it.unitn.disi.sistar.contenttypes.dl"/>
      </editor>
      <editor
            class="it.unitn.disi.sistar.editors.output.DatalogOutputEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="dlo"
            icon="icons/datalog-small.gif"
            id="it.unitn.disi.sistar.editors.output.DatalogOutputEditor"
            name="ASP Output Editor">
         <contentTypeBinding contentTypeId="it.unitn.disi.sistar.contenttypes.dlo"/>
      </editor>
      <editor
            class="it.unitn.disi.sistar.editors.scenario.ScenarioEditor"
            contributorClass="it.unitn.disi.sistar.editors.scenario.ScenarioEditorContributor"
            extensions="sce"
            icon="icons/start.png"
            id="it.unitn.disi.sistar.editors.scenario.ScenarioEditor"
            name="Goal Scenario"/>
      <editor
            class="it.unitn.disi.sistar.editors.plan.PlanEditor"
            contributorClass="it.unitn.disi.sistar.editors.plan.PlanEditorContributor"
            default="true"
            extensions="pddl"
            icon="icons/p-icon.png"
            id="it.unitn.disi.sistar.editors.plan.PlanEditor"
            name="Plan"/>
      <editor
            class="it.unitn.disi.sistar.editors.pattern.PatternEditor"
            contributorClass="it.unitn.disi.sistar.editors.pattern.PatternEditorContributor"
            default="true"
            extensions="tpt"
            icon="icons/PatternIco.PNG"
            id="it.unitn.disi.sistar.editors.pattern.PatternEditor"
            name="Pattern Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="it.unitn.disi.sistar.properties.ASPOptionPage"
            icon="icons/datalog-small.gif"
            id="it.unitn.disi.sistar.properties.ASPOptionPage"
            name="ASP Option"
            nameFilter="*.dl-disabled"
            objectClass="org.eclipse.core.resources.IFile">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IFile"/>
         </enabledWhen>
      </page>
      <page
            class="it.unitn.disi.sistar.properties.ProjectASPOptionPage"
            icon="icons/datalog-small.gif"
            id="it.unitn.disi.sistar.properties.ProjectASPOptionPage"
            name="ASP Option"
            >
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
      <page
            class="it.unitn.disi.sistar.properties.ProjectASPOutputPage"
            icon="icons/datalog-small.gif"
            id="it.unitn.disi.sistar.properties.ProjectASPOutputPage"
            name="ASP Output"
            >
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject"/>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="dl"
            id="it.unitn.disi.sistar.contenttypes.dl"
            name="Datalog Input"
            priority="normal"/>
      <content-type
            file-extensions="dlo"
            id="it.unitn.disi.sistar.contenttypes.dlo"
            name="Datalog Output"
            priority="normal"/>
   </extension>
   <extension
         name="Decorator"
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="it.unitn.disi.sistar.decorators.ASPOptionDecorator"
            icon="icons/logo-Sistar-small.gif"
            id="it.unitn.disi.sistar.decorators.ASPOptionDecorator"
            label="ASP Decorator"
  			lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="it.unitn.disi.sistar.decorators.SistarProjectDecorator"
            icon="icons/logo-Sistar-small.gif"
            id="it.unitn.disi.sistar.decorators.SistarProjectDecorator"
            label="Sistar Project Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IProject"/>
         </enablement>
      </decorator>
   </extension>

   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
   </extension>   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc file="tocconcepts.xml"/>
      <toc file="tocoverview.xml"/>
      <toc file="tocgettingstarted.xml"/>
      <toc file="tocworking.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerHelp">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="it.unitn.disi.sistar.preferences.modeling"
            class="it.unitn.disi.sistar.preferences.pages.DiagramPreferencePage"
            id="it.unitn.disi.sistar.preferences.modeling.diagram"
            name="Diagram"/>
      <page
            class="it.unitn.disi.sistar.preferences.pages.SistarPreferencePage"
            id="it.unitn.disi.sistar.preferences"
            name="Sistar"/>
      <page
            category="it.unitn.disi.sistar.preferences.asp"
            class="it.unitn.disi.sistar.preferences.pages.ASPSolverPreferencePage"
            id="it.unitn.disi.sistar.preferences.asp.solver"
            name="Solver"/>
      <page
            category="it.unitn.disi.sistar.preferences.goalreasoning"
            class="it.unitn.disi.sistar.preferences.pages.GoalReasoningSolverPreferencePage"
            id="it.unitn.disi.sistar.preferences.goalreasoning.solver"
            name="Solver"/>
      <page
            category="it.unitn.disi.sistar.preferences"
            class="it.unitn.disi.sistar.preferences.pages.ModelingFrameworkPreferencePage"
            id="it.unitn.disi.sistar.preferences.modeling"
            name="Modeling Framework"/>
      <page
            category="it.unitn.disi.sistar.preferences"
            class="it.unitn.disi.sistar.preferences.pages.ASPPreferencePage"
            id="it.unitn.disi.sistar.preferences.asp"
            name="ASP"/>
      <page
            category="it.unitn.disi.sistar.preferences"
            class="it.unitn.disi.sistar.preferences.pages.GoalReasoningPreferencePage"
            id="it.unitn.disi.sistar.preferences.goalreasoning"
            name="Goal Reasoning"/>
      <page
            category="it.unitn.disi.sistar.preferences"
            class="it.unitn.disi.sistar.preferences.pages.PlannerPreferencePage"
            id="it.unitn.disi.sistar.preferences.planner"
            name="Planner"/>
      <page
            category="it.unitn.disi.sistar.preferences.goalreasoning"
            class="it.unitn.disi.sistar.preferences.pages.GoalReasoningQuantitativePreferencePage"
            id="it.unitn.disi.sistar.preferences.goalreasoning.quantitative"
            name="Quantitative"/>
      <page
            category="it.unitn.disi.sistar.preferences.goalreasoning"
            class="it.unitn.disi.sistar.preferences.pages.GoalReasoningQuantitativeColorPreferencePage"
            id="it.unitn.disi.sistar.preferences.goalreasoning.quantitativecolor"
            name="Quantitative Color"/>
      <page
            category="it.unitn.disi.sistar.preferences.asp"
            class="it.unitn.disi.sistar.preferences.pages.ASPAnalysisPreferencePage"
            id="it.unitn.disi.sistar.preferences.asp.analysis"
            name="Analysis"/>
      
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="it.unitn.disi.sistar.preferences.common.PreferenceInitializer"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Si* tool">
         <property
               name="appName"
               value="Si* tool">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Si* tool"/>
   </extension>

</plugin>
