<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="core.example">
      <example file="aspects/yu04re.pdf"/>
      <example file="aspects/yu07re.pdf"/>
      <example file="aspects/mediashop.q7"/>
      <example file="aspects/mediashop-aspects.q7"/>
      <example file="aspects/mediashop-aspects-separated.q7"/>
      <example file="bottom-up-reasoning/giorgini02er.pdf"/>
      <example file="bottom-up-reasoning/er02.q7"/>
      <example file="top-down-reasoning/sebastianni04caise.pdf"/>
      <example file="top-down-reasoning/example.gif"/>
      <example file="top-down-reasoning/example.q7"/>
      <example file="top-down-reasoning/example.oom"/>
      <example file="top-down-reasoning/example.ood"/>
      <example file="top-down-reasoning/ex1.gif"/>
      <example file="top-down-reasoning/ex1.q7"/>
      <example file="top-down-reasoning/ex1.oom"/>
      <example file="top-down-reasoning/ex1.ood"/>
      <example file="top-down-reasoning/ex2.q7"/>
      <example file="top-down-reasoning/ex2.gif"/>
      <example file="top-down-reasoning/ex2.oom"/>
      <example file="top-down-reasoning/ex2.ood"/>
      <example file="top-down-reasoning/ex3.q7"/>
      <example file="top-down-reasoning/ex3.gif"/>
      <example file="top-down-reasoning/ex3.oom"/>
      <example file="top-down-reasoning/ex3.ood"/>
      <example file="reuse/leite05caise.pdf"/>
      <example file="reuse/mediashop.q7"/>
      <example file="reuse/WBT.q7"/>
      <example file="molhado/trac.q7"/>
      <example file="molhado/drproject.q7"/>
      <example file="molhado/trac-goal.png"/>
      <example file="molhado/drproject-goal.png"/>
      <example file="bpel/lapouchnian07bpm.pdf"/>
      <example file="bpel/componenx.q7"/>
   </extension>    

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.q7"
            id="contribution1">
         <menu
               label="Convert the Q7 representation into"
               path="additions"
               id="menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="action.Telos"
               icon="icons/telos.gif"
               id="TelosAction"
               label="Telos"
               menubarPath="menu1/group1"
               tooltip="i* model">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="core.convertor">
  		<convertor id="Q7 to Telos" class="convertor.Q7_Telos"
            input="q7" output="tel"/>
      	<convertor id="Q7 to EMF" class="convertor.q7emf"
            input="q7" output="q7dsl"/>
   </extension>
<!--see svn history for more converter actions --> 
</plugin>
